@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oxygen&display=swap');

body {
    background: url('media/hd-wallpaper-g5d64efedb_1920.jpg') no-repeat center center/cover;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: rgba(255,255,255, 0.2);
}

h1 {
    font-size: 120px;
    color: #031d22;
    font-weight: bold;
}

header {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

footer {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    color:#031d22;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: #1a353a;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
    font-size: 35px;
}

.gradient-circle {
    background: conic-gradient(
        #50D5DA,
        #7CE0DE,
        #66CDCA,
        #fff,
        #3DB1AE,
        #0A606F,
        #076984
    );

    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background-color: #0A606F;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}